PORT=3000
JWT_ALGORITHM=RS256
PRIVATE_KEY_PATH=./private.pem
PUBLIC_KEY_PATH=./public.pem

# Sentry - Obtener en https://sentry.io -> Settings -> Projects -> DSN
SENTRY_DSN=
SENTRY_ENVIRONMENT=development
